@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  border: 1px solid;
  border-radius: 4px;
  padding: 2px 10px;
}

.permisions-container{
  font-weight: bolder;
}

button{
  border: 1px black solid;
}